// CLICKBAIT
.clickbait {
	background: #000;
	padding-top: 450px;
	padding-bottom: 200px;
	&__img, &__headline, &__description {
		text-align: center;
	}
	&__headline {
		text-transform: uppercase;
	}
	&__img {
		margin-bottom: 70px;
	}
	&__headline h2 {
		font-family: "Roboto", sans-serif;
		font-size: 56px;
		color: #fff;
		margin-bottom: 0;
	}
	&__description {
		width: 100%;
		max-width: 768px;
		margin: 70px auto;
		p {
			font-family: "Roboto", sans-serif;
			font-size: 24px;
			color: #95989a;
		}
	}
}

@media screen and (max-width: 991px) {
	.clickbait {
		padding-top: 80px;
		padding-bottom: 50px;
	}
}

@media screen and (max-width: 767px) {
	.clickbait {
		img {
			width: 80%;
		}
	}
}