// HOW-WORK
.how-work {
	position: relative;
	padding-top: 350px;
	&__drops {
		position: absolute;
		top: 0;
		left: 0;
		&--small {
			display: none;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	&__headline {
		margin-bottom: 190px;
	}
	&__card {
		width: 100%;
		background-color: #000;
		border-radius: 50px;
		padding-top: 20px;
	}
	&__circle {
		display: flex;
		text-align: center;
		align-items: center;
		width: 250px;
		height: 250px;
		margin: 0 auto;
		background-color: #fff;
		border-radius: 50%;
		margin-bottom: 20px;
		border: 5px solid #939699;
	}
	&__img {
		margin: 0 auto;
		img {
			width: 70%;
			height: auto;
		}
	}
	&__description {
		font-family: "Myriad-Pro-Regular", sans-serif;
		color: #000;
		background-color: #fff;
		height: 100%;
		border: 1px solid #000;
		border-radius: 50px;
		padding: 10px 30px;
		text-align: center;
		h5 {
			height: 100%;
			margin-top: 10px;
			margin-bottom: 10px;
			display: inline-block;
			border: 3px solid #000;
			font-size: 30px;
			background-color: #fff;
			border-radius: 50px;
			padding: 0 30px;
			vertical-align: middle;
			&:first-letter {
				text-transform: uppercase;
			}
		}
		li, a {
			font-family: "Myriad-Pro-Regular", sans-serif;
			color: #000;
			font-size: 24px;
		}
		li {
			&:nth-child(odd) {padding-top: 15px;}
		}
		a {
			color: $link-active;
			&:hover {
				color: #ffc600;
			}
		}
		p {
			font-size: 24px;
		}	
	}
}

@media screen and (max-width: 991px) {
	.how-work {
		padding-top: 100px;
		&__drops {
			display: none;
			&--small {display: block;}
		}
		&__card {
			width: 80%;
			margin: 0 auto;
			margin-bottom: 20px;
		}
	}
}

@media screen and (max-width: 767px) {
	.how-work {
		&__headline {
			margin-bottom: 50px;
		}
		&__card {
			width: 100%;
		}
	}
}

@media screen and (max-width: 575px) {
	.how-work {
		&__headline {
			h2 {
				font-size: 38px;
			}
		}
	}
}