/* MODAL */
.modal {
	background-color: #000;
	// gif

	&__img {
		position: relative;
		display: inline-block;
		text-align: center;
		&-container {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		&-bg {
			width: 100%;
			height: auto;
		}
		&-gif {
			width: 92%;
			height: 65%;
			position: absolute;
			top: 4.4%;
			left: 4%;
		}
	}

	&-dialog {
		max-width: 90vw;
	}
	&-content {
		height: auto;
		min-height: 90vh;
		padding: 0 !important;
		border-radius: 140px;
		background: url("../images/modal-bg.png") 50% 50% no-repeat;
		background-size: cover;
	}
	&__logo {
		text-align: center;
		margin-bottom: 20px;
		img {
			width: 80%;
			height: auto;
		}
	}
	&__content {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	&__form {
		width: 100%;
	}

	.form {
		&__item {
			text-align: center;
			margin-bottom: 50px;
			input, textarea {
				text-align: center;
				padding: 20px;
				border-radius: 40px;
				color: #707070;
				background-color: #fff;
			}
			textarea {
				resize: none;
				text-align: left;
			}
		}
		&__btn {
			text-align: center;
			margin-top: 30px;
			input {
				font-size: 20px;
				padding: 15px 90px 15px 20px;
				color: #707070;
				border-radius: 40px;
				background-color: #fff;
			}
			&-container {
				display: inline-block;
				position: relative;
			}
			.fa-telegram-plane {
				width: 52px;
				height: 52px;
				display: flex;
				align-items: center;
				border-radius: 50%;
				position: absolute;
				right: -20px;
				top: 50%;
				transform: translate(-50%, -50%);
				background: linear-gradient(45deg, #09e5fd 0%,#ff00ec 100%);
				padding-left: 6px;
				font-size: 40px;
				color: #000;
				cursor: pointer;
			}
		}

		&__user-name {width: 70%;}
		&__user-number {width: 80%;}
		&__user-mail {width: 90%;}
		&__user-order {width: 100%;}
	}
}

@media screen and (max-width: 575px) {
	.modal {
		&-dialog {
			max-width: 100vw;
		}
	}
}