// PROJECTS
.projects {
	margin-top: 200px;
	margin-bottom: 75px;
	&__bg-img {
		width: 10%;
		height: auto;
		position: absolute;
		top: -7%;
		right: -7%;
		z-index: -1;
	}
	.projects__headline {
		margin-bottom: 60px;
		h2 {text-transform: uppercase;}
	}
	&__container {
		position: relative;
		height: 384px;
		border: 3px solid #DFDFDF;
		margin-top: 20px;
		overflow-y: scroll;
	}
	&__item {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	&__type {
		&__list {
			display: flex;
		}
		&:not(:last-child) {
			margin-right: 70px;
		}
	}
	&__btn {
		font-family: "Roboto", sans-serif;
		font-size: 16px;
		border-radius: 50px;
		border: 1px solid #000;
		text-transform: capitalize;
		padding: 10px 25px;
		&--active {
			background-color: #000;
			color: #fff;
		}
	}
	&__img {
		width: 100%;
	}
	.show {
		display: block;
	}
	.hide {
		display: none;
	}
}

@media screen and (max-width: 1199px) {
	.projects {
		&__container {
			height: 324px;
		}
	}
}

@media screen and (max-width: 991px) {
	.projects {
		&__container {
			height: 244px;
		}
		&__type {
			&:not(:last-child) {
				margin-right: 20px;
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.projects {
		&__container {
			height: 275px;
		}
		&__type {
			&:not(:last-child) {
				margin-right: 10px;
			}
		}
		&__btn {
			padding: 10px 20px;
		}
	}
}
@media screen and (max-width: 575px) {
	.projects {
		&__container {
			height: 200px;
			height: calc(100vw / 2.3);
		}
		&__type {
			&__list {
				width: 50%;
				text-align: center;
				flex-direction: column;
				margin: 0 auto;
			}
			&:not(:last-child) {
				margin-bottom: 10px;
				margin-right: 0;
			}
		}
		&__btn {
			width: 100%;
		}
		&__item {
			text-align: center;
		}
		&__img {
			width: 80%;
		}
	}
}